body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: linear-gradient(to left, #edf8ff, #e6edf9);
    text-align: center;
}


.container {
    width: 80%;
    margin: 20px auto;
    padding: 20px;
    background-color: #f0f0f0;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0, 22, 167);
}


.foto {

    width: 40%;
    margin-right: 20px;
    border-radius: 8px;
    overflow: hidden;
}


.foto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
}


.explicacao {
    overflow: hidden;
}


.explicacao h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}


.explicacao p {
    font-size: 16px;
    color: #555;
    line-height: 1.5;
}
.botao{
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    background-color: #3498db;
    color: #fff;
    border: 2px solid #000203;
    border-radius: 50px;    
    transition: background-color 0.3s ease;
    cursor:  pointer;
   
}
.botao:hover {
    background-color: rgba(13, 17, 133, 0.852);
}
.nome{
    color: #3498db;
    background-color: #3498db;
}
.navbar {
    background-color: #3498db;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  

}

.navbar a:hover {
    background-color: #2980b9;
}
footer {
    background-color: #3498db; /* Cor de fundo do rodapé */
    color: #fff; /* Cor do texto do rodapé */
    text-align: center; /* Alinhamento do texto */
    padding: 10px; /* Espaçamento interno */
}
